version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    hostname: kafka

    ports:
      - "9092:9092"

    environment:
      # ---- KRaft mode ----
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      CLUSTER_ID: "4ayhH3DdSxG2zW1ZzX5VzQ"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"

     # ---- Listeners (single-line, critical) ----
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,EXTERNAL://0.0.0.0:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # ---- Required for single broker----
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      # ---- Storage ----
      KAFKA_LOG_DIRS: /var/lib/kafka/data

    volumes:
      - kafka-data:/var/lib/kafka/data

    networks:
      - kafka-net

  nodejs-app:
    image: node:20
    container_name: nodejs-app
    command: ["tail", "-f", "/dev/null"]
    working_dir: /app
    volumes:
      - ./../:/app
    depends_on:
      - kafka
    networks:
      - kafka-net

networks:
  kafka-net:
    name: kafka-net
    driver: bridge

volumes:
  kafka-data:
